POSTGRES_URL="postgresql://username:password@localhost:5432/siakad"
POSTGRES_URL_NON_POOLING="postgresql://username:password@localhost:5432/siakad"
JWT_SECRET="ganti_dengan_secret_key_anda"
DATABASE_URL="postgresql://username:password@localhost:5432/siakad"
